@charset "UTF-8";

body {
/* 	background: url(https://images.unsplash.com/photo-1517021202682-f4c63173f1b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f535f650a9d98d1c62c3ace97040c869&auto=format&fit=crop&w=1019&q=80);
 */ background: url(https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-0.3.5&s=f03c295f3183e3a209480e2d0b8129a9&auto=format&fit=crop&w=2698&q=80);
	background-size: cover;
	background-position: center;
	font-family: 'Abril Fatface', cursive;
	font-size: 10px;
	color: black;
}

html {
	height: 100%;
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
}

/*h1, h3 {
	color: white;
}*/

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}